*{
  text-align: center;
}
.rootLayOut{
   min-width:400px;
    display: grid;
    grid-template-columns: min-content 1fr;
    -ms-grid-rows: 2.25rem calc(100% - 2.25rem);
    grid-template-rows: 2.25rem calc(100% - 2.25rem);
    grid-template-areas: "nameplate nameplate"
    "contacts details";
}

/**
* Name Plate zone in application layout.
*/
.header{
    grid-area: nameplate;
    height:2.25rem;
    background: blue;
}

/**
* Contacts zone in application layout.
*/
.leftside{
    grid-area: contacts;
    height: 100%;
    min-height: 16rem;
    min-width: 3.4375rem;
    max-width: 16.0625rem;
    position: relative;
    background: yellow;
}

/**
* RightSide details zone in application layout.
*/
.details{
    width: 100%;
    height: 100%;
    grid-area: details;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 2.625rem calc(100% - 2.625rem);
    grid-template-areas: 
    "tabs" 
    "tabContent";
}

.tabs{
    grid-area: tabs;
    height: 42px;
    background: rgb(70, 66, 60)
}

/**
* tab content area in details layout.
*/
.tabContent{
    grid-area: tabContent;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "item1 details" "item2 details" ;
}

.div1{

  min-width: 100%;
  min-height: 100%;
  grid-area:item1;
  background: red;
}
.div2{
  min-width: 100%;
  min-height: 100%;
  grid-area:item2;
  background: pink;
}
.div3{
  min-width: 100%;
  min-height: 100%;
  grid-area:details;
  background: purple;
}