<div style=" background-color: yellow;">
	rootElementContentText
	<div style="display:inline-block; background-color: pink;">
		InlineElement1Text
		<div>InlineElement1child1</div>
		<div>InlineElement1child2</div>
		<div>InlineElement1child3</div>
	</div>
	<div style="display:inline-block; background-color: red;">
		InlineElement2Text
	</div>
</div>
<div style="display:block; background-color: purple;">
  BlockElement1Text
	<div>BlockElement1child1</div>
	<div>BlockElement1child2</div>
	<div>BlockElement1child3</div>
</div>