<div class="root">
  <div class="a">a</div>
  <div class="b">b</div>
  <div class="c">c</div>
<div class="d" >
    <div class="dChild" *ngFor ="let obj of arrObjects">{{obj.Title}}</div>
    <!-- <div class="dChild">d2</div>
    <div class="dChild">d3</div>
    <div class="dChild">d4</div>
    <div class="dChild">d5</div>
    <div class="dChild">d6</div>
    <div class="dChild">d7</div>
    <div class="dChild">d8</div>
    <div class="dChild">d9</div> -->
  </div>
  <div class="e">e</div>
</div>
