<form (ngSubmit)="save()" [formGroup]="newUserForm" (keyup.enter)="save()">  

  <!-- FIRST NAME -->  
  <mat-form-field appearance="standard"> 
  <input matInput type="text" placeholder="Search" formControlName="firstName" required>  
</mat-form-field>  

<!-- LAST NAME -->  
<mat-form-field appearance="standard">
  <input matInput type="text" placeholder="Search" formControlName="lastName" required>  
</mat-form-field>  

  <!-- EMAIL -->  
<mat-form-field appearance="standard"> 
  <input matInput type="email" placeholder="Search" formControlName="email" required>  
  <mat-hint>{{ formErrors.pattern }}</mat-hint>  
  <mat-error>{{ formErrors.pattern }}</mat-error>  
</mat-form-field>  

  <!-- PASSWORD -->  
<mat-form-field appearance="standard">  
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Search" formControlName="password" required>  
  <div matSuffix matRipple [matRippleColor]="myColor" style="border-radius: 50%; padding: 0.3rem;">  
      <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>  
  </div>
  <mat-error *ngIf="newUserForm.get('password').errors?.minLength">{{ formErrors.minLength }}</mat-error>  
  <mat-error *ngIf="newUserForm.get('password').errors?.unique">{{ formErrors.unique }}</mat-error>  
</mat-form-field>  

  <!-- PASSWORD CONFIRMATION -->  
<mat-form-field appearance="standard">  
  <input matInput type="password" formControlName="passwordConfirmation" placeholder="Search" required [errorStateMatcher]="crossFieldErrorMatcher">  
  <mat-error>{{ formErrors.mismatch }}</mat-error>  
  </mat-form-field>  

</form>
